<div>
  <table *ngIf="page" class="table table-hover">
    <thead>
    <tr>
      <th>Имя</th>
      <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of page.content">
      <td>{{ u.firstname }} {{u.lastname}}</td>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="role">
        </label>
      </div>
    </tr>
    </tbody>
  </table>
</div>
<!-- PAGEABLE BUTTONS -->
<div class="row">
  <div class="col-12">
    <span class="float-right">
      <button role="button"
              class="btn btn-sm btn-default"
              (click)="pageChange(page?.number - 1)"
              [disabled]="page?.first">
        <i class="fa fa-step-backward"></i>
      </button>

      <span class="text-center">{{ page?.number + 1 }} of {{ page?.totalPages }}</span>
      <button role="button"
              class="btn btn-sm btn-default"
              (click)="pageChange(page?.number + 1)"
              [disabled]="page?.last">
        <i class="fa fa-step-forward"></i>
      </button>
    </span>
  </div>
</div>
