table {
  /*width: 80%;*/
  /*margin: 20px auto;*/
}

.info-table td {
  width: 50%;
}

table th {
  text-align: center;
}

.conference-detail {
  margin: 10px;
}


.id-col {
  width: 1%;
}

.author-col {
  width: 35%;
}

.title-col {
  width: 74%;
}
