
<div class="container">
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Cоздание конференции</h3>
    </div>
    <div class="card-body">
      <form class="form" [formGroup]="form" (ngSubmit)="submit(form.value)" id="loginForm" novalidate>
        <div class="form-group">
          <label for="title">Название конференции</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="acronym">Акроним конференции</label>
          <input type="text" class="form-control" id="acronym" formControlName="acronym">
        </div>
        <div class="form-group">
          <label for="webPage">Веб сайт конференции</label>
          <input type="text" class="form-control" id="webPage" formControlName="webPage">
        </div>
        <div class="form-group">
          <label for="country">Страна конференции</label>
          <input type="text" class="form-control" id="country" formControlName="country">
        </div>
        <div class="form-group">
          <label for="city">Город конференции</label>
          <input type="text" class="form-control" id="city" formControlName="city">
        </div>
        <div class="form-group w-50">
          <label for="date">Дата окончания конференции</label>
          <input type="date" class="form-control" id="date" formControlName="expirationDate" [min]="today">
        </div>
        <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin" [disabled]="!form.valid">Отправить запрос</button>
      </form>
    </div>
  </div>
</div>
