<div class="text-center container" *ngIf="submission">
  <h4 class="text-center">Рецензенты</h4>

  <div class="container">
    <app-reviewer-list-table [page]="page" [conferenceId]="submission.conferenceId"
                             (onPageChange)="pageChange($event)" (onDeleteReviewer)="deleteReviewers($event)"></app-reviewer-list-table>
    <div *ngIf="isAdmin()">
      <div class="mt-3">
        <form [formGroup]="form">
          <div class="form-group">
            <input type="search" class="form-control" id="search-input" placeholder="Поиск по email...." autocomplete="off"
                   formControlName="search">
          </div>
        </form>
      </div>
      <div *ngIf="searchedUsers">
        <ul class="list-group" *ngFor="let u of searchedUsers.content">
          <li class="list-group-item">{{u.firstname}} {{u.lastname}}
            <button class="btn btn-sm btn-success float-right" (click)="addReviewers(u.id)">Добавить</button>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-info" (click)="goBack()">Назад</button>

    <!--<div>-->
      <!--<h4 class="text-center">Добавить рецензентов</h4>-->
      <!--<app-add-new-reviewer-table [page]="this.newReviewers"></app-add-new-reviewer-table>-->
    <!--</div>-->

  </div>

</div>

