<div class="text-center">
  <h4>Загрузка доклада</h4>

  <form class="p-3 border w-75 mx-auto" style="background-color: #e6e6e6" [formGroup]="form" novalidate
        (ngSubmit)="submit(form.value)">
    <div class="form-group row">
      <label for="title" class="col-form-label col-3">Название доклада</label>
      <div class="col-9">
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
    </div>

    <label class="btn btn-default">
      <input type="file" (change)="onFileChange($event)" #fileInput>
    </label>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Загрузить доклад</button>
    </div>
  </form>

</div>

