<div>
  <table *ngIf="page" class="table table-hover">
    <thead>
    <tr>
      <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of page.content" style="cursor: pointer" [routerLink]="['conferences/' + c.id]">
      <td>{{ c.title }}</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- PAGEABLE BUTTONS -->
<div class="row">
  <div class="col-12">
    <span class="float-right">
      <button role="button"
              class="btn btn-sm btn-default"
              (click)="pageChange(page?.number - 1)"
              [disabled]="page?.first">
        <i class="fa fa-step-backward"></i>
      </button>

      <span class="text-center">{{ page?.number + 1 }} of {{ page?.totalPages }}</span>
      <button role="button"
              class="btn btn-sm btn-default"
              (click)="pageChange(page?.number + 1)"
              [disabled]="page?.last">
        <i class="fa fa-step-forward"></i>
      </button>
    </span>
  </div>
</div>
