<!--<h1 mat-dialog-title class="center">Добавить роль для <br>{{user.username}}</h1>-->
<!--<div mat-dialog-content class="dialog-content">-->
  <!--<mat-checkbox-->
    <!--*ngFor="let role of userRole; let i=index" class="check-box"-->
    <!--[disabled]="user.roles.includes(userRoleEnum[role])"-->
    <!--(change)="onChange($event, i)"-->
    <!--value="{{role}}"-->
    <!--[checked]="user.roles.includes(userRoleEnum[role])"-->
    <!--#myCheckbox-->
  <!--&gt;-->
    <!--{{role}}-->
  <!--</mat-checkbox>-->
<!--</div>-->
<!--<div mat-dialog-actions align="center">-->
  <!--<button mat-button (click)="onNoClick()">Отмена</button>-->
  <!--<button mat-button [mat-dialog-close]="data.result" cdkFocusInitial>Принять</button>-->
<!--</div>-->
